#home {
  background: black;
}

#profile {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#mybutton:hover {
  background-color: rgb(255, 255, 255);
  color: black !important;
  opacity: 3 !important;
}

#mybutton:hover span {
  color: black !important;
}

.header {
  background: url("..//images/background1.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about {
  background: linear-gradient(to bottom, rgb(165, 169, 172), rgb(164, 177, 189)) !important;
}

.contact {
  background: url("..//images/contact.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.contact form {
  position: relative;
  z-index: 2; /* Bring the form to the front */
}

.form-control {
  position: relative;
  z-index: 2; /* Ensure that input fields are above the overlay */
}

.form-control:focus {
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border-bottom: none;
  z-index: 2;
}

.form-control::placeholder {
  color: white;
}

.about-img {
  height: 250px;
}

@media (max-height: 767px) {
  .text-container {
    padding-bottom: 0px !important;
    padding-top: 5px !important;
  }
}
@media (max-width: 767px) {
  .about-class {
    flex-direction: column;
  }
  .section {
    width: 100% !important;
  }
  .about-img {
    padding-bottom: 20px;
  }
}
