#home {
  background: black;
}

#profile {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.header {
  background: url("..//images/background1.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about {
  background: linear-gradient(to bottom, rgb(141, 206, 236), rgb(130, 165, 194)) !important;
}

.contact {
  background: url("..//images/contact.png") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
}

.contact::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.contact form {
  position: relative;
  z-index: 2; /* Bring the form to the front */
}

.form-control {
  position: relative;
  z-index: 2; /* Ensure that input fields are above the overlay */
}

.form-control:focus {
  box-shadow: 0 0 5px rgb(255, 255, 255);
  border-bottom: none;
  z-index: 2;
}

.form-control::placeholder {
  color: white;
}

.about-img {
  height: 250px;
}

@media ((max-height: 600px)) {
  .text-container {
    padding-top: 0 !important;
  }
}
@media ((max-height: 420px)) {
  .text-container {
    padding-top: 0 !important;
  }
}
@media (max-width: 767px) {
  .about-class {
    flex-direction: column;
  }
  .section {
    width: 100% !important;
  }
  .about-img {
    padding-bottom: 20px;
  }
}
